<div class="">
<div class="container mar-top40 mar-bot30">

	<div class="align-center mar-top40"><h1> {{ programName }} </h1> </div>
	<div class="float-left col-md-6 mar-top20 col-xs-12">
		<div class="channel-category">
			<div class="btn-group" dropdown is-open="status.isopen">
				<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
					{{ selectedCategory }} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="(key, value) in user.categories"><a ng-click="setCategory(key)">{{ key }}</a></li>
				</ul>
			</div>
		</div>

		<div class="sets-shows mar-top20">
			<h2> Shows </h2>
			<ul ng-model="tarray" class="list first">
				<li class="sets-shows-box" ng-repeat="(showId, show) in tarray">
					<div data-toggle="tooltip" data-placement="bottom" title="{{ show.title }}" class="sets-shows-top">{{ show.title }}
					</div>
					<div class="sets-shows-bottom">
						<a class="cursor-pointer" ng-click="addSet(show)"><i data-toggle="tooltip" data-placement="bottom" title="Add to Set" class="fa fa-bars"></i></a>
						<a class="cursor-pointer mar-left25p" ng-click="addProgram(show, false)"><i data-toggle="tooltip" data-placement="bottom" title="Add to Back of Program" class="fa fa-share-square-o"></i></a>
						<a class="cursor-pointer mar-left20" ng-click="addProgram(show, true)"><i data-toggle="tooltip" data-placement="bottom" title="Insert in Program" class="fa fa-sign-in"></i></a>
						<a class="cursor-pointer float-right" ng-click="deleteShow(show.$id, show)"><i data-toggle="tooltip" data-placement="bottom" title="Delete" class="fa fa-times"></i></a>
					</div>
				</li> 
			</ul>

			<h2 class="mar-top20"> Sets </h2>
			<ul ng-model="sarray" class="list first">
				<li class="sets-shows-box" ng-repeat="(setId, set) in sarray">
					<div data-toggle="tooltip" data-placement="bottom" title="{{ set.title }}" class="sets-shows-top">{{ set.title }}
					</div>
					<div class="sets-shows-bottom">
						<a class="cursor-pointer mar-left28p" ng-click="addProgram(set, false)"><i data-toggle="tooltip" data-placement="bottom" title="Add to Back of Program" class="fa fa-share-square-o"></i></a>
						<a class="cursor-pointer mar-left20"  ng-click="addProgram(set, true)"><i data-toggle="tooltip" data-placement="bottom" title="Insert in Program" class="fa fa-sign-in"></i></a>
						<a class="cursor-pointer float-right" ng-click="deleteSet(set.$id, set)" class="float-right"><i data-toggle="tooltip" data-placement="bottom" title="Delete"  class="fa fa-times"></i></a>
					</div>
				</li>	
			</ul>
		</div>
	</div>

	<div class="col-xs-12 mar-top88 col-md-6">
		<form name="showForm" ng-submit="submitShow()" form-autofill-fix>
			<input type="url" ng-model="show.url" placeholder="URL (youtube)" class="form-control" required><br>
			<input type="category" ng-model="show.category" placeholder="Category" class="form-control" required><br>
			<input type="submit" value="Create Show" class="btn btn-primary"/>
		</form>

		<div class="mar-top40">
			<div class="mar-top40 create-set set-container">
				<ul ui-sortable="setCreateOptions" ng-model="showSetArray"class="list create-set">
					<li ng-click="deleteFromSet(show, $index)" ng-repeat="show in showSetArray track by $index" ng-style="resizeLength(show.length)" class=" make-set"><span class="set-text"> {{ show.title }} </span></li>
				</ul>
			</div>
			<form name="setForm" ng-submit="createSet()" form-autofill-fix>
				<input type="name" ng-model="showSet.title" placeholder="Title" class="form-control" required><br>
				<input type="category" ng-model="showSet.category" placeholder="Category" class="form-control" required><br>
				<input type="submit" value="Create Set" class="btn btn-primary"/>
			</form>
		</div>
	</div>

	<div class="col-md-4 program-time">
		<div class="pickdate">
			<p class="input-group">
			<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-change="changed()" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>

		<div class="pick-time">
			<timepicker ng-model="dt" show-meridian="ismeridian" ng-change="changed()"></timepicker>
		</div>
	</div>

	<div class="television-box col-xs-12">
			<div class="col-xs-9 inline-block">
				<ul class="no-style-list two-times">
					<li ng-repeat="time in twoTimes track by $index" ng-style="resizeTimes($index)" class="show-time"> {{ time }} </li>
				</ul>

				<div class="gray-box gray">
					<ul class="program-shows no-style-list">	
						<li ng-repeat="content in programArray track by $index" ng-style="resizeProgram(content.fakeLength, $index, content.end)" class="show-set" ng-click="deleteProgram(content)"><span data-toggle="tooltip" data-placement="bottom" title="{{ content.title }}"> {{ content.title }} </span></li>
					</ul>
				</div>
			</div>

			<div class="btn-group width-time" dropdown is-open="timeStatus.isopen">
				<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
					{{ timeRange }} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="(key, value) in selectableTimes"><a ng-click="setTime(value)">{{ value }}</a></li>
				</ul>
				<a class="btn mar-left20" ng-class="{true: 'btn-primary', false: 'btn-danger'}[!canDelete]" ng-click="canDelete = !canDelete" data-toggle="tooltip" data-placement="bottom" title="Delete a show from your channel by clicking it.">{{!canDelete && 'Deleting is Off' || 'Deleting is On'}}</a>
			</div>
	</div>

	<div class="row">
		<button ng-class="{true: 'btn-danger', false: 'btn-primary'}[unsaved]" ng-click="saveProgram()" class="col-xs-offset-3 col-xs-3 save-program btn mar-bot40 mar-top20">{{!unsaved && 'Saved' || 'Click to Save'}}</button>
	</div>

	<div class="mar-top40">
		<form name="changeCategoryForm" ng-submit="changeCategory()" class="col-xs-3" form-autofill-fix>
			<input maxlength="30" type="category" ng-model="newCategory" placeholder="{{ programCategory }}" class="form-control" required><br>
			<input type="submit" value="Change Category" class="btn btn-primary center"/>
		</form>
	</div>

	<div>
		<form name="changeNameForm" ng-submit="changeName()" class="col-xs-3 col-xs-offset-1" form-autofill-fix>
			<input maxlength="30" type="name" ng-model="newName" placeholder="{{ programName }}" class="form-control" required><br>
			<input type="submit" value="Change Name" class="btn btn-primary center"/>
		</form>
	</div>

	<button type="button" class="btn btn-primary float-right" ng-click="areYouSure()"> DELETE CHANNEL </button> 
</div>
</div>
