<section class="mar-top35 container watch-height" ng-cloak>
	<div class="mar-top35 align-center">
		<h2 class="slogan">Channels</h2>
		<div class="mar-top35">
			<div class="float-left col-xs-6 col-md-3 mar-top20 mar-bot40" ng-repeat="channel in showChannels | orderBy: 'priority':true">
				<div class="viewer-category-box">
					<div class="category-box align-center">
						<a data-toggle="tooltip" data-placement="bottom" title="{{ channel.name }}" href="#/watch/{{ category }}/{{ channel.$id }}">{{ channel.name }}</a> 
					</div>
					<img class="thumbnail mar-left28p mar-top10" align="middle" src="{{ channel.img }}">
					<div class="mar-top35"> viewers: {{ channel.$priority }} </div>
				</div>
			</div>
		</div>
	</div>
</section>
	<div class="align-center">
		<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm auto-align-pagination" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="numItemsPage" ng-change="pageChanged()"></pagination>
	</div>