<section id="footer" ng-show="changed" class="section footer" ng-controller="FooterCtrl">
<div class="container">
	<div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">

		<div class="col-sm-12 align-center">
            <ul class="social-network social-circle">
                <li><a href="https://www.facebook.com/pages/Hatchlingtv/888874224479356" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/HatchlingTV" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://plus.google.com/103407537235952087321" rel="publisher" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
            </ul>
		</div>
	</div>



	<div class="row align-center copyright">
		<div class="col-sm-12"><p>Copyright &copy; 2014 HatchlingTV </p></div>
		<div class="float-left"><h5 class="footer-link"><a href="#/terms">Terms of Service</a></h5></div>
		<div class="float-right"><h5 class="footer-link"><a href="#/contact">Contact</a></h5></div>
	</div>
</div>
</section>