<div class="container mar-top88 min-height900">
	<div class="auth-forms">
		<h2>Settings</h2>
		<input type="checkbox" ng-model="hideChat" ng-change="toggleChat()"><span class="checkbox">Hide Chat</span>
	</div>
	<div class="auth-forms mar-top30">
  		<h2 >Change Password</h2>
  		<form ng-submit="changePassword()" name="form" form-autofill-fix>
  			<div ng-show="form.password.$error || error || success || form.short.$error">
  				<p ng-show="error" class="text-danger">{{ error }}</p>
  				<p ng-show="success" class="text-success">{{ success }}</p>
          <p ng-show="form.short.$error.short" class="text-danger">Password must be at least 6 characters</p>
				  <p ng-show="form.password.$error.mismatch" class="text-danger">Passwords are not matching.</p>
  			</div>
  			<input type="email" ng-model="email" placeholder="Email" class="form-control" required><br>
  			<input type="password" ng-model="oldPassword" placeholder="Old Password" class="form-control" required><br>
    		<input type="password" name="short" short="short" ng-model="newPassword" placeholder="New Password" class="form-control" required><br>
    		<input type="password" name="password" ng-model="samePassword" match="newPassword" placeholder="Retype New Password" class="form-control" required><br>
    		<input type="submit" value="Change Password" class="btn btn-primary" ng-disabled="form.$invalid"/>
  		</form>
	</div>
</div>